@import url('https://fonts.googleapis.com/css?family=Raleway:100');

body{
    font-family: 'Raleway';
}


#navbarbg {
	position: fixed;

    height:90px;
	    transition:  0.2s ease-in-out;
	    width: 100%;
	    font-weight: 500;
        z-index:1;


}


.paddnav1{
	
	color:#45B0E8;
    padding: 8px;
    font-weight: bold;
}

#navbar {
	
	z-index: 9999;
    display: inline-block;
	-webkit-transition: .5s all ease-out;
	-moz-transition: .5s all ease-out;
	transition: .5s all ease-out;
	color: #ffffff;
    position:absolute;
	text-decoration: none;
		position:relative;
        top: 45px;
		transform: translate(0%, -50%);
		text-align:center;
		color:white;
		text-transform: uppercase;
	
}

.global{
   position:fixed;
   right:20px; 
   top:30px;
  
}
.hover a:hover{
	color : #b8ad82;
    transition: all 0.4s;
}
/*this is the mobile version*/
@media only screen and (max-width: 768px) {
    #navbarbg{
        height:90px;
    }
 
    .bm-burger-button  {
        display:block;
      }
      #navbar{
        display:none;
      }
  }
  /*FIXES OF THE NAVBAR*/
  @media only screen and (min-width: 769px) {
    .bm-burger-button  {
        display:none;
      }

      .bm-cross-button{
        display:none;
      }

  }
