@import "../../../node_modules/react-image-gallery/styles/css/image-gallery.css";



.image-gallery-left-nav{
    border:0 !important;
    outline:none !important;
}
    .image-gallery-right-nav{
        border:0 !important;
        outline:none !important;
    }

    .alwaystop{
        position:relative;
        top:20vh;
    }